.dados {
  background-color: rgb(19, 73, 40);
  height: 100%;
  width: 20%;

  display: flex;
  align-items: center;
  justify-content: center;
  
  flex-wrap: nowrap;
  flex-direction: column;
}

.foto-conteudo {
  margin: 2% auto;
  width: auto;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  display: flex;
  justify-items: center;
  flex-direction: column;
  align-items: center;
  
}


h1 {
  color: white;
  font-family: "Roboto Slab", serif;
  font-size: 35px;
  margin: 3% 18%;
}

.nome, .sou {
  margin: 0.5em 1.5em;
}
.sou {
  font-size: 30px;
}

hr {
  width: 75%;
  border: 2px solid rgb(0, 0, 0);
}
.aprofundado {
 
}
.logo-unifor {
  margin: 10px 0px;
  height: 27px;
  width: 27px;
  background-color: white;
  border-radius: 12px;
}

.main{
border: solid blue;
height: 100vh;
width: 100%;
}

.conteiner-c {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}
.conteiner-flex-logo{
  margin: 0px 18%;
}
.conteiner-f{
  display: flex;
  flex-direction: column;
  width: 100%;
  border: solid red;
  

}
.contato {
  color: white;
  margin: 3% 18%;
  width: auto;
}


#root {
  margin: 0px;
  width: 100%;
  height: 100vh;
}


@media screen and (max-width: 1000px) {
  h1 {
    font-size: 15px;
  }
  .nome{
    font-size: 12px;
  }
  .sou {
    font-size: 12px;
  }
  .foto {
    font-size: 100px;
  }
  .conteiner-flex-logo {
    display: block;
    
  }
  .dados{
    width: 50%;
  }
  .contato{
    font-size: 13px;
  }
  h5{
    font-size: 13px;
  }
}
